node_modules/
dist/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# AI configs
.agent/
.gemini/
.specify/
openspec/
spec.md

# testing
projeto-teste/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
