# Dev files
src/
specs/
.specify/
.agent/
openspec/
tsconfig.json
teste/

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env*
